body{
    background-color: rgb(255, 255, 255); height: 125vh;
    padding: 5px;
}
/* Headers styling */
.headers{   
    border-radius: 10px;
    text-align: center;
    background-color: #3c3a3d;
    line-height: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: aliceblue;
}
/* Home page styling */
#inh{
    background-color:#3c3a3d;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: rgb(228, 225, 225);
    opacity: 1;
    width:auto;
    border-radius: 7px;
}        
#inp{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
#container{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    margin-top: 130px;
    flex-wrap: wrap;
}
.item{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.iimg{
    height: 225px;
    border-radius: 25%;
}
main {
    color: white;
}
.iimg:hover{
    transform: scale(1.07);
    transition-duration: 0.35s;
    box-shadow: 1px 1.5px 2.5px black;
}
/* Drinks page image styling  */
.drimg{
    height: 225px;
    width: 225px;
    border-radius: 25%;
}.drimg:hover{
    transform: scale(1.07);
    transition-duration: 0.35s;
    box-shadow: 1px 1.5px 2.5px black;
}
/* Navigation bar */
header img {
    height: 80px;
    margin-left: 40px;
  }
  header {
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    box-shadow: 0 0 15px 0 black;
  }
  header li a:hover {
    color: white;
    border-radius: 20px;
    padding: 10px;
    background-color: #3c3a3d;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: small;
    transform: scale(1.07);
    transition-duration: 0.4s;
    box-shadow: 0px 0px 3px;
  }
  header * {
    display: flex;
    flex-wrap: wrap;
  }
  
  header li {
    margin: 20px;
  }
  header li a{
    color: black;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9em;
  }
  /* Card positioning and alignment */
  .cards-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px;
    }
    .card {
      display: flex;
      width: 100%;
      max-width: 450px; /* Adjust the max-width based on your preference */
      height: 285px;
      border-radius: 15px;
      background-color: #f8f8f8;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      justify-content : space-evenly;
      margin: 8px;
      box-shadow: 0px 0px 1px;
    }
    .card:hover{
        box-shadow: 0px 0px 5px;
    }
    .card-container1{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin-top: 50px;
      
  }
  .card-container2{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin-top: 10px;
  }
  .card-container3{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10px;
  }
  .card-container4{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10px;
  }
    .card img {
      width: 80%;
      border-radius: 25%;
      padding-top: 15px;
      padding-left: 15px;
    }
    
    .card-content {
      margin-left: 20px;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .leftcardcontent {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .card-content h3 {
      font-size: 1rem;
      margin-bottom: 10px;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-style: normal;
    }
    
    .card-content p {
      margin-bottom: 10px;
      font-size: 0.85rem;
      color: #555;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    
    .tags {
      display: flex;
      flex-wrap: wrap;
      flex: 1;
      flex-direction: column;
      font-size: 0.75rem;
      color: #aaa;
      margin-bottom: 0px;
      padding-top: 18px;
      padding-bottom: 5px;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    .buttondiv{
      background-color: #0582CA;
      height: 35px;
      width: 80px;
      text-align: center;
      line-height: 35px;
      border-radius: 25px;
      color: aliceblue;
      margin-left: auto;
      margin-right: 10px;
      margin-bottom: 10px;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
  }
  .button{
          background-color:#0582CA;
          border: 1px solid #ffffff;
          height: 25px;
          width: 25px;
          border-radius: 50%;
          color: aliceblue;
          border-color: aliceblue;
          text-align: center;
          font-size: 0.9em;
          position: static;
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          font-style: normal;
      
  }
  .button:hover{
      background-color: #001F54;
  }
  .buttondiv:hover{
      background-color: #001F54;
      transform: scale(1.07);
      transition-duration: 0.3s;
  } 
  #counter-display{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }